<table class="table table-boldered table-hover">
    <thead>
        <tr>
          <th>约饭主题</th>
          <th>约饭内容</th>
          <th>约饭地址</th>
          <th>约饭日期</th>
        </tr>
    </thead>

    <tbody>
           <tr>
            <td><%= @post.title %></td>
            <td><%= @post.description %></td>
            <td><%= @post.eat_venue %></td>
            <td><%= @post.eat_day %></td>
          </tr>
    </tbody>
</table>
