<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= simple_form_for [:admin,@restaurant] do |f| %>
      <h4 class="center">后台添加约饭地点</h4>
      <%= f.input :name %>
      <%= f.submit "提交", class: "btn btn-default outline center-block", data: { disable_with: "提交中.."} %>
      <% end %>
  </div>
</div>
