// Place all the styles related to the account::asker_requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.noorderpage-top {
  margin-top: 15px;
  text-align: center;
	padding-left: 44px;
}

.noorderpage-top h1 {
	color: white;
	font-size:32px;
	font-weight:bold;
	margin-top:85px;
}

.noorderpage-top p {
	color: white;
	font-size: 15px;
	margin-top: 15px;
	font-style: italic;
}
