.img-account {
    margin: 15px;
    border: 1px solid #ccc;
    float: left;
    width: 250px;
    height: auto;
 }

 div.img-account:hover {
     border: 1px solid #D6D6D6;
     background-color:#F0F0F0;
 }

 div.img-account img {
     width: 100%;
     height: auto;
     border: 0;
 }

 div.desc {
     padding: 0px;
     text-align: center;

 }

 div.desc p {
   position: relative;
   overflow: hidden;
   left: 45px;
   top: 18px;
   padding: 15px;
   width: 160px;
   color: #F01D67;
   font-size: 18px;
   border-top: 1px solid #ccc;
 }

 div.desc .titleh4 {
   position: relative;
   overflow: hidden;
   left: 45px;
   top: 18px;
   width: 160px;
   color: #F01D67;
 }

 div.desc .titleh3 {
   margin-top: 15px;
   margin-bottom: -5px;
   overflow: hidden;
 }
