<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>约饭 关于我们</title>
  </head>
  <body>

    <div class="about-footer-totop">
      <div class="container">
       <div class="contactus">

         <h3>企业名称：Eat2gether</h3>
          <p>
           核心成员：韩晗、David、张硕、秦峰、陈坤明  <br><br>

           成立时间：2016年11月<br><br>

           创办地点：北京

         </p>
       </div>
    </div>
  </div>

  </body>
</html>
