<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> 约饭 help</title>
  </head>
  <body>
   <div class="container">
      <div class="about-footer-totop">
        <div class="help-title" style="text:center">
           <h1>常见问题</h1>
           <hr>
        </div>

        <h3>如何发起约饭呢？</h3>
         <p>
          在网页上方点击“发起项目”，根据提示在网站上提交所需要的基本项目信息，以图文结合的形式 展示你的项目，完成后便可提交审核。
         </p>
      </div>
    </div>
  </body>
</html>
