<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> 约饭 help</title>
  </head>
  <body>
   <div class="container">
      <div class="about-footer-totop">
        <div class="help-title" style="text:center">
           <h1>常见问题</h1>
           <hr>
        </div>

        <h3>如何发起约饭呢？</h3>
         <p>
          在首页点击“发起约饭”，以图文结合的形式 展示你的约饭。
         </p>
      </div>
    </div>
  </body>
</html>
