<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>约饭 联系我们</title>
  </head>
  <body>

    <div class="container">
       <div class="about-footer-totop">

         <h3>公司联系方式</h3>

         <p>
          客服邮箱：562661672@qq.com  <br><br>

          公司地址：北京市朝阳区建外SOHO东区8号楼2802<br><br>

          工作时间：周一至周五 09:00-18:00（国家法定节假日除外）
         </p>
       </div>
     </div>


  </body>
</html>
