
<!-- <div class="container-fluid"> -->
<div class="carousel" >
    <div class="overlay"></div>
      <div class="picture1"></div>
       <div class="hero">
        <hgroup>
           <h2>
             <img src="assets/logo1-white.png" class="logohome"><font class="projname" size="17">Eatgether </font>
              <br><br>
           </h2>
           <h1><font size="10"> 好玩不尴尬，吃饭认识TA </font></h1>
           <p><font size="4" > 约上四个人一起吃饭，结交更多拥有共同爱好的年轻人 </font></p>
        </hgroup>
          <br><br><br>
            <%= link_to("查看饭局", posts_path, class: "btn btn-danger btn-lg") %>
      </div>
</div>

<br><br>  <br><br>
<div align="center">
    <%= image_tag ("http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/centenni-lightbox-51/a90eb697-logo1_01i01i01i01i000000.png") %>
</div>

<div align="center" >
  <h1>  轻松拓展社交圈，带上好友一起结交有趣的人  </h1>
           <br>
  <h4> 省去发信息、问时间、选餐厅等繁琐步骤 </h4>
  <h4> 由系统通过共同爱好、地理位置等特征精准匹配能够吃到一起的人 </h4>
</div>

   <br> <br><br>  <br><br><br>  <br>

<div>


  <div class="overlay1"></div>

<div class="container">
  <div class="hero1">
     <h1>让美好的饭局变得理所当然</h1>
  </div>
	<div class="row clearfix">

       <br>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src="http://ww4.sinaimg.cn/large/006tNc79jw1f9pf7a83f9j306905rgls.jpg" />
						<div class="caption">
							<h3>	四人行组局，让邀约不再尴尬	</h3>
                   <br>
						<p><font size="4" >
                 独自或找朋友一起发起饭局，选择系统推荐应邀者共进晚餐。
                 每周更新全城最热门餐厅、图片、介绍，丰富邀约介绍，吸引到最和你胃口的人共进晚餐~
                </font>
            </p>

						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src="http://ww3.sinaimg.cn/large/006tNc79jw1f9pf894bb5j305z0620sx.jpg" />
            <div class="caption">
							<h3>	邀约流程简单明了	</h3>
                 <br>
						<p><font size="4" >
                 省去发信息、问时间、选餐厅等繁琐步骤,
                 由系统通过共同爱好、地理位置等特征,
                 精准匹配能够吃到一起的人。
                 <br>
                </font>
            </p>

						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src="http://ww1.sinaimg.cn/large/006tNc79jw1f9pf8sajbtj306905rt8s.jpg" />
            <div class="caption">
              <h3>	只和靠谱的人共进晚餐	</h3>
                   <br>
            <p><font size="4" >
                 为确保邀约完美体验，所有邀约发起人都经过平台身份验证，餐厅也经过平台审核。
                 邀约必须提前三天取消，临时决定不来的用户将被终生取消平台使用权。
                </font>
            </p>
            </div>
					</div>
				</div>

		</div>
	</div>
</div>

<div class="hero2">
   <h1>未来一周内精选的邀约</h1>
</div>
     <div class="container">
      <div align="center">
						<img src="http://ww2.sinaimg.cn/large/006tNc79jw1f9pkg2m2w5j30l406c75q.jpg" width="1000" height="300" />
      </div>
     </div>
      <div class="hero3">
         <h3>LE CINQ 五道菜法式套餐 </h3>
      </div>

      <div class="container">
       <div align="center">
             <img src="http://ww3.sinaimg.cn/large/006tNc79jw1f9plgvw7qmj30l4062tbe.jpg" width="1000" height="300" />
       </div>
      </div>
      <div class="hero3">
         <h3> HEALTHY EATS 健康又美味 </h3>
      </div>

      <div class="container">
       <div align="center">
             <img src="http://ww4.sinaimg.cn/large/006tNc79jw1f9pljwaoswj30l406276k.jpg" width="1000" height="300" />
       </div>
      </div>
      <div class="hero3">
         <h3> LA TAVERNA意大利风味西餐 </h3>
      </div>
    <hr >
    <div class="hero3">
           <img src="http://ww4.sinaimg.cn/large/006tNc79jw1f9plzjwe17j3029029t8k.jpg" class="img-circle"  width="110" height="110" />


          <img src="http://ww4.sinaimg.cn/large/006tNc79jw1f9pmbpr77tj3029029dfp.jpg" class="img-circle"  width="110" height="110" />

  </div>

<div class="carousel ">
    <div class="overlay2"></div>
      <div class="picture"></div>

        <div class="hero4">
          <hgroup>
            <h2>
<img src="assets/logo1-white.png" class="logoend"><font class="projname" size="6">Eatgether </font>
              <br><br>
            </h2>

            <p><font size="6" > 无数和你一样的年轻人，都可能 </font></p>

            <p><font size="6" > 通过一顿饭成为你的好友 </font></p>

          </hgroup>

              <br><br>  <br>

            <button  class="btn btn-danger btn-lg" role="button">

              <%= link_to("这就约饭去！",posts_path) %>
            </button>

       </div>
 </div>
