<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>约饭 service</title>
  </head>
  <body>

    <div class="container">
       <div class="about-footer-totop">
         <div class="contentone">
           <p>
              （网址:http://www.eat2gether.club）
          </p>
        </div>

        <div class="contenttwo">
          <h2>一、 定义</h2>
            <p>
              1、约饭发起人：在eat2gether平台注册并发起的个人；<br>
              2、约饭申请人：在eat2gether平台注册并申请的个人。<br>
              3、以上两项：必须是合法公民，拥护中国共产党，遵纪守法。<br>
              4、所选餐厅：皆经过工作人员，实地审核，保证安全，优美。
            </p>
        </div>


     </div>
    </div>
  </body>
</html>
