<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>约饭 service</title>
  </head>
  <body>

    <div class="container">
       <div class="about-footer-totop">
         <div class="contentone">
           <p>
              火箭网（网址:http://talent-rocket.herokuapp.com）是北京火箭科技有限公司旗下经营的网站。
              本协议双方为北京火箭科技有限公司（简称“火箭网”）与火箭网项目发起人（简称“您”或“用户”）。
              在您使用火箭网提供的服务之前，请务必认真阅读本协议的全部内容。本协议一经您点击确认并同意接受，即在您与火箭网之间产生法律效力。
          </p>
        </div>

        <div class="contenttwo">
          <h2>一、 定义</h2>
            <p>
              1、项目发起人：在火箭网平台注册并发起众筹项目的单位或个人；<br>
              2、项目投资人：在火箭网平台注册并投资某众筹项目的单位或个人。<br>
              3、保证金：项目发起人在火箭网平台发起的项目，由火箭网作为代收款方，
              收取项目投资人基于项目投资明细单而支付的众筹金额。项目众筹成功后，
              火箭网留存项目众筹总金额的30%作为保证金，在项目发起人兑现对项目投资人的回报承诺后，
              火箭网将该保证金返还给项目发起人。如果项目发起人未兑现对项目投资人的回报承诺，
              则火箭网有权直接支配该保证金以用于兑现对项目投资人的回报承诺。<br>
              4、资金支付渠道费：为保证众筹资金安全，众筹项目项下资金均通过第三方支付公司代为划转，
              由此产生的支付渠道费由项目发起人负担，项目众筹成功后，火箭网将扣除项目众筹总金额的3%作为资金支付渠道费，
              并支付给第三方支付机构。如众筹项目不成功，则不收取该笔费用。另，如众筹项目已众筹成功，
              但由于发起人原因无法履行回报的，发起人需向火箭网支付相当于筹资总金额的3%的资金支付手续费。
            </p>
        </div>

        <div class="contentthtee">
          <h2>二、本协议的构成及效力</h2>
            <p>
            1、所有火箭网已经发布的或将来发布的各类规则，作为本协议不可分割的一部分，与本协议具有同等的法律效力。<br>
            2、火箭网有权根据需要适时修订本协议及各类规则，并在网站上公示。变更后的协议和规则一经在火箭网站上公示，即发生法律效力。<br>
            3、在使用火箭网提供的服务之前，请务必认真阅读本协议的全部内容。如您对本协议有任何疑问，应向火箭网咨询。本协议生效后，
            您不应以未阅读或不接受本协议的内容为由，主张本协议无效或要求撤销本协议。<br>
            4、您应该按照本协议约定行使权利并履行义务。如您不能接受本协议的约定，
            包括但不限于不能接受修订后的协议及各类规则，则您应立即停止使用火箭网针对项目发起人提供的服务。
            如您继续使用火箭网针对项目发起人提供的服务，则表示您同意并接受本协议及各类规则的约束。
          </p>
        </div>
     </div>
    </div>
  </body>
</html>
