<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <%= simple_form_for [:admin ,@interest] do |f| %>
            <h4 class="center"><i class="fa fa-tag" aria-hidden="true"></i> 编辑兴趣爱好</h4>
            <%= f.input :name, label: "." %>
            <%= f.submit "提交", class: "btn btn-default outline center-block", data: { disable_with: "提交中.." } %>
            <% end %>
        </div>
    </div>
</div>
