<link rel="stylesheet" type="text/css" href="/assets/application.scss" />

<div class="row">
  <div class="col-md-12">
    <h2>
      约会详情 <br>
    </h2>
    <table class="table table-bordered">
      <thead>
        <tr>
					<th>约会主题</th>
          <th>约会日期</th>
					<th>约会地点</th>
					<th>约会描述</th>
        </tr>
      </thead>
      <tbody>
				<tr>
					<td><%= @order.poster.title %></td>
					<td><%= @order.poster.eat_day %></td>
					<td><%= @order.poster.eat_venue %></td>
					<td><%= @order.poster.description %></td>
				</tr>
      </tbody>
    </table>
  </div>
</div>
