<link rel="stylesheet" type="text/css" href="/assets/application.scss" />

<div class="row">
  <div class="col-md-12">
    <h2>
      约会详情 <br>
    </h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="70%">约会主题</th>
          <th>约会成员</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>
