<div class="col-md-12">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% @feedbacks.each do |feedback| %>
        <tr>
          <td><%=link_to(feedback.id,feedback_path(feedback),method: :get) %></td>
          <td><%= feedback.title %></td>
          <td><%= feedback.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
