<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>约饭</title>
  </head>
  <body>
	<div class="postpage">
		<div class="postpage-bg" id="postspage"></div>
		<div class="overlaypost"></div>
		<div class="container">
						<div class="row postpage-top">
						<h1>一顿饭，创造一段新关系</h1>
						<p> 加入下面有趣的饭局，认识更多有趣好玩的朋友 <br>
						 或是发起自己的饭局，将好吃好玩的分享给更多人
					 	</p>
						<br>
						<%= link_to "发起约饭 <span class='glyphicon glyphicon-chevron-right'></span>".html_safe(), new_post_path(@post), class: "btn btn-default pink" %>
						</div>
		</div>
	</div>
        <div class="bread">
          	<a href="/">首頁</a>&nbsp;/&nbsp;所有饭局
        </div>

  <div class="twopage">
    <!-- 这里是引用的partial文件，达到加载更多的约饭 -->
    <div class=center>
       <div id="content">
           <%= render(partial: 'post') %>
       </div>
     </div>
       <div class="center view-more">
           <% unless @posts.current_page == @posts.total_pages %>
              <p id="view-more">
               <%= link_to('载入更多约饭', url_for(page: @posts.current_page + 1), remote: true,
                      class: "btn btn-danger btn-lg", style: "background-color:#f01d67;") %>
              </p>
           <% end %>
       </div>
    </div>


      <div class="container">
         <div class="gotop">
            <a class="gotop" href="#">
               <img src="https://ooo.0o0.ooo/2016/11/27/583a6ad7514c7.png" width="50px;">
            </a>
         </div>
      </div>

</body>
</html>
