/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import url('https://fonts.googleapis.com/css?family=Marck+Script');

 @font-face {
     font-family: 'marck_scriptregular';
     src: url('marck-script.regular-webfont.woff2') format('woff2'),
          url('marck-script.regular-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
 }


$bgDefault      : #3e3e3e;
$bgHighlight    : #f01d67;
$colDefault     : #d6d6d6;
$colHighlight   : #f01d67;
$btnLight	   	 	: #f181a8;
$dropDown       : true;


* {
   font-family: "lucida grande";
  }

a:hover {
	text-decoration: none;
}

.alert {
	  position: absolute;
	  top: 55px;
	  left: 20px;
	  right: 20px;
		z-index: 4;
	}

.center {
     text-align: center;
 }


.projnamehome {
	font-family: 'Marck Script';
	color: white;
	font-size: 32px;
}

a.projname {
 -webkit-transition: all 0.4s ease;
 transition: all 0.4s ease;
 }

a.projname {
  font-family: 'Marck Script';
	font-size: 21px;
}

a.projname.shrink {
  min-height: 20px;
	font-size: 18px;
}

img.logonav {
 -webkit-transition: all 0.4s ease;
 transition: all 0.4s ease;
 }

img.logonav {
	height: 19px;
	width: 19px;
	float:left;
	vertical-align: text-bottom;
}

img.logonav.shrink {
	height: 17px;
	width: 17px;
	float:left;
	vertical-align: text-bottom;
}

.logohome {
	height: 30px;
	width: 30px;
	vertical-align: text-bottom;
}

.logocarousel {
	height: 30px;
	width: 30px;
	vertical-align: text-bottom;
	margin-bottom: 3px;
}

.logoend {
	height: 30px;
	max-width: 30px;
	margin-bottom: 9px;
}



.pinkfont {
 	color: $bgHighlight;
}

.topnavbar {
	margin-top:70px;
}

.userheader {
	 font-family: 'Marck Script';
	 text-align: center;
	 vertical-align: middle;
	 font-style: italic;
	 color: $colDefault;
	 margin: 0 0 10% 0;
	 padding: 0px 0px 0px 0px;
	 font-size: 60px;
	 line-height: 0px;
	 letter-spacing: -2px;
	 font-weight: bold;
}

.text-pink {
	color: $colHighlight;
}


a {
	color: $bgDefault
}

a:hover {
	color: $colDefault
}


.navbar {
-webkit-transition: all 0.4s ease;
transition: all 0.4s ease;
}

.navbar.shrink {
  min-height: 30px;
	font-size: 13px;
}

button.shrink {
	padding:6px 10px;
}

button {
 -webkit-transition: all 0.4s ease;
 transition: all 0.4s ease;
}

div.navbar-header {
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

div.navbar-header.shrink {
  min-height: 30px;
}

.navbar-default {
	margin: 0;
	padding: 0;
	height: 40px;
	border: none;
	border-radius: 0px;
  background-color: $bgDefault;
  .navbar-brand {
    color: $colDefault;
    &:hover {
      color: $colDefault; }
		&:focus {
			color: #d6d6d6; }
		}

  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover {
                color: $colDefault;
                background-color: $bgHighlight; }
							&:focus {
								color: $colDefault;
							}
						}
            > .divider {
              background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover {
          color: $colDefault;
          background-color: $bgHighlight; }
				> a:focus {
						color: $colDefault;
					}}}
    > .active {
      > a, > a:hover {
        color: $colDefault;
        background-color: $bgHighlight; }
			> a:focus {
				color: $colDefault;
			}}
//THIS "OPEN" PART IS THE LINE THAT CHANGES NAV MENU COLOR
//WHEN SELECTED DURING A DROPDOWN
    > .open {
      > a, > a:hover, > a:focus {
        color: $colDefault;
        background-color: $bgHighlight; }
			> a:focus {
				color: $colDefault;
			}}}
  .navbar-toggle {
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-link {
		border:none;
		padding-left:0;
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

.collapsing, .collapse.in {
	background-color: $bgDefault;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	position:absolute;
	width:100%;
}

.collapsing.shrink, .collapse.in.shrink {
	margin-top:-10px;
	position:absolute;
}

.collapsing li {
	margin-left:15px;
}

.collapse.in li {
	margin-left:15px;
}



/* button section */
// btn.outline
.btn.outline {
    background: none;
    padding: 9px 20px;
}
.btn-default.outline {
    border: 2px solid $bgDefault;
    color: $bgDefault;
}
.btn-default.outline:hover, .btn-default.outline:focus, .btn-default.outline:active, .btn-default.outline.active, .open > .dropdown-toggle.btn-default {
    color: $colDefault;
    border-color: $colDefault;
}
.btn-default.outline:active, .btn-default.outline.active {
    border-color: $colDefault;
    color: $colDefault;
    box-shadow: none;
}

//btn-sm
.btn-sm.outline {
    border: 2px solid $bgDefault;
    color: $bgDefault;
}
.btn-sm.outline:hover, .btn-sm.outline:focus, .btn-sm.outline:active, .btn-sm.outline.active, .open > .dropdown-toggle.btn-sm {
    color: $colDefault;
    border-color: $colDefault;
}
.btn-sm.outline:active, .btn-sm.outline.active {
    border-color: $colDefault;
    color: $colDefault;
    box-shadow: none;
}
//

.btn-sm.search {
	padding: 6px 21px;
	border: 1px solid $bgDefault;
	color: $bgHighlight;
	background: none;
}

.form-control.pink {
	border: 1px solid $bgDefault;
  width: 240px;
}

// btn.pink
.btn.pink {
		background: $bgHighlight;
}
.btn-default.pink {
    color: white;
}
.btn-default.pink:hover, .btn-default.pink:focus, .btn-default.pink:active, .btn-default.pink.active, .open > .dropdown-toggle.btn-default {
    color: $colDefault;
    border-color: $colDefault;
}
.btn-default.pink:active, .btn-default.pink.active {
    border-color: $colDefault;
    color: $colDefault;
    box-shadow: none;
}

// btn.pink.light
.btn.pink.light {
		background: none;
		padding: 9px 20px;
		border: 2px solid $colHighlight;
}
.btn-default.pink.light {
    color: $colHighlight;
		border-color: $colHighlight;
}
.btn-default.pink.light:hover, .btn-default.pink.light:focus, .btn-default.pink.light:active, .btn-default.pink.light.active, .open > .dropdown-toggle.btn-default {
    color: $btnLight;
    border-color: $btnLight;
}
.btn-default.pink.light:active, .btn-default.pink.light.active {
    border-color: $btnLight;
    color: $btnLight;
    box-shadow: none;
}

//

.btn {
    padding: 11px 20px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    // text-transform: uppercase;
}

// This is the code for when the button is clicked.
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
		background: $bgDefault;
		color: $colDefault ;
}

.btn-primary {
    background: $bgDefault;
    color: $colDefault ;
}

// This is the code when mouse hovers over the button
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: $colDefault;
		color: $bgDefault ;
}

.btn-primary:active, .btn-primary.active {
    background: $colDefault;
    color: $colDefault ;
		box-shadow: none;
}

.btn-primary[disabled] {
	background: $colDefault;
	color: $bgDefault ;
}

.footermargin {
  height: 250px;

}

.nav-thumbnails {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.blog-thumbnails {
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.avatar-thumbnails {
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.label-success {
	background-color: $colHighlight;
}

.redpoint {
  height:8px;
  width:8px;
  border-radius:8px;
  display:inline-block;
  text-align:center;
  background:$colHighlight;
  position: relative;
  top: -7px;
  right: 7px;
}

.signupBtn {
	text-align:center;
}

.signuploginlinks {
	text-align:left;
	font-style:italic;
	font-size:11px;
	margin-top:10px;
}

.tabbable-panel {
  border:1px solid #eee;
  padding: 10px;
}

/* nav tab */

// /* tab color */
// .nav-tabs>li>a {
//   background-color: $bgDefault;
//   border-color: #777777;
//   color:#fff;
// }
//
// /* active tab color */
// .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
//   color: #fff;
//   background-color: #666;
//   border: 1px solid #888888;
// }
//
// /* hover tab color */
// .nav-tabs>li>a:hover {
//   border-color: $bgDefault;
//   background-color: #666;
// 	color:$colHighlight;
// }




.nav-tabs {
	border-bottom: 2px solid #DDD;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	border-width: 0;
}

.nav-tabs > li > a {
	border: none;
	color: $bgDefault;
}

.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
	border: none;
	color: $bgHighlight !important;
	background: transparent;
}

.nav-tabs > li > a::after {
	content: "";
	background: $bgHighlight;
	height: 2px;
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: -1px;
	transition: all 250ms ease 0s;
	transform: scale(0);
}

.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
	transform: scale(1);
}

.tab-nav > li > a::after {
	background: $bgDefault none repeat scroll 0% 0%; color: #fff;
}

.tab-pane {
	padding: 15px 0;
}

.tab-content {
	padding:20px
}

.card {
	background: #FFF none repeat scroll 0% 0%;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	margin-bottom: 30px;
}
