/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";


 @font-face {
     font-family: 'marck_scriptregular';
     src: url('marck-script.regular-webfont.woff2') format('woff2'),
          url('marck-script.regular-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;

 }


$bgDefault      : #3e3e3e;
$bgHighlight    : #f01d67;
$colDefault     : #d6d6d6;
$colHighlight   : #f01d67;
$btnLight	   	 	: #f181a8;
$dropDown       : true;


* {
   font-family: "lucida grande";
  }

a:hover {
	text-decoration: none;
}

.alert {
	  position: absolute;
	  top: 55px;
	  left: 20px;
	  right: 20px;
		z-index: 4;
	}

.center {
     text-align: center;
 }


.projnamehome {
	font-family: "marck_scriptregular";
	color: white;
	font-size: 32px;
}

a.projname {
 -webkit-transition: all 0.4s ease;
 transition: all 0.4s ease;
 }

a.projname {
  font-family: "marck_scriptregular";
	font-size: 21px;
}

a.projname.shrink {
  min-height: 20px;
	font-size: 18px;
}

img.logonav {
 -webkit-transition: all 0.4s ease;
 transition: all 0.4s ease;
 }

img.logonav {
	height: 19px;
	width: 19px;
	float:left;
	vertical-align: text-bottom;
}

img.logonav.shrink {
	height: 17px;
	width: 17px;
	float:left;
	vertical-align: text-bottom;
}

.logohome {
	height: 30px;
	width: 30px;
	vertical-align: text-bottom;
}

.logocarousel {
	height: 30px;
	width: 30px;
	vertical-align: text-bottom;
	margin-bottom: 3px;
}

.logoend {
	height: 30px;
	max-width: 30px;
	margin-bottom: 9px;
}



.pinkfont {
 	color: $bgHighlight;
}

.topnavbar {
	margin-top:70px;
}

.userheader {
	 font-family: 'marck_scriptregular';
	 text-align: center;
	 vertical-align: middle;
	 font-style: italic;
	 color: $colDefault;
	 margin: 0 0 10% 0;
	 padding: 0px 0px 0px 0px;
	 font-size: 60px;
	 line-height: 0px;
	 letter-spacing: -2px;
	 font-weight: bold;
}

.text-pink {
	color: $colHighlight;
}


a {
	color: $bgDefault
}

a:hover {
	color: $colDefault
}


.navbar {
-webkit-transition: all 0.4s ease;
transition: all 0.4s ease;
}

.navbar.shrink {
  min-height: 30px;
	font-size: 13px;
}

// .navbar-brand.shrink {
// 	min-height: 30px;
// 	font-size: 12px;
// }

.navbar-default {
	margin: 0;
	padding: 0;
	height: 40px;
	border: none;
	border-radius: 0px;
  background-color: $bgDefault;
  .navbar-brand {
    color: $colDefault;
    &:hover {
      color: $colDefault; }
		&:focus {
			color: #d6d6d6; }
		}
	// .navbar-brand.shrink {
	// 	min-height: 30px;
	// 	font-size: 12px;
	// }
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover {
                color: $colDefault;
                background-color: $bgHighlight; }
							&:focus {
								color: $colDefault;
							}
						}
            > .divider {
              background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover {
          color: $colDefault;
          background-color: $bgHighlight; }
				> a:focus {
						color: $colDefault;
					}}}
    > .active {
      > a, > a:hover {
        color: $colDefault;
        background-color: $bgHighlight; }
			> a:focus {
				color: $colDefault;
			}}
//THIS "OPEN" PART IS THE LINE THAT CHANGES NAV MENU COLOR
//WHEN SELECTED DURING A DROPDOWN
    > .open {
      > a, > a:hover, > a:focus {
        color: $colDefault;
        background-color: $bgHighlight; }
			> a:focus {
				color: $colDefault;
			}}}
  .navbar-toggle {
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}


/* button section */
// btn.outline
.btn.outline {
    background: none;
    padding: 9px 20px;
}
.btn-default.outline {
    border: 2px solid $bgDefault;
    color: $bgDefault;
}
.btn-default.outline:hover, .btn-default.outline:focus, .btn-default.outline:active, .btn-default.outline.active, .open > .dropdown-toggle.btn-default {
    color: $colDefault;
    border-color: $colDefault;
}
.btn-default.outline:active, .btn-default.outline.active {
    border-color: $colDefault;
    color: $colDefault;
    box-shadow: none;
}

//btn-sm
.btn-sm.outline {
    border: 2px solid $bgDefault;
    color: $bgDefault;
}
.btn-sm.outline:hover, .btn-sm.outline:focus, .btn-sm.outline:active, .btn-sm.outline.active, .open > .dropdown-toggle.btn-sm {
    color: $colDefault;
    border-color: $colDefault;
}
.btn-sm.outline:active, .btn-sm.outline.active {
    border-color: $colDefault;
    color: $colDefault;
    box-shadow: none;
}
//

.btn-sm.search {
	padding: 6px 21px;
	border: 1px solid $bgDefault;
	color: $bgHighlight;
	background: none;
}

.form-control.pink {
	border: 1px solid $bgDefault;
}

// btn.pink
.btn.pink {
		background: $bgHighlight;
}
.btn-default.pink {
    color: white;
}
.btn-default.pink:hover, .btn-default.pink:focus, .btn-default.pink:active, .btn-default.pink.active, .open > .dropdown-toggle.btn-default {
    color: $colDefault;
    border-color: $colDefault;
}
.btn-default.pink:active, .btn-default.pink.active {
    border-color: $colDefault;
    color: $colDefault;
    box-shadow: none;
}

// btn.pink.light
.btn.pink.light {
		background: none;
		padding: 9px 20px;
		border: 2px solid $colHighlight;
}
.btn-default.pink.light {
    color: $colHighlight;
		border-color: $colHighlight;
}
.btn-default.pink.light:hover, .btn-default.pink.light:focus, .btn-default.pink.light:active, .btn-default.pink.light.active, .open > .dropdown-toggle.btn-default {
    color: $btnLight;
    border-color: $btnLight;
}
.btn-default.pink.light:active, .btn-default.pink.light.active {
    border-color: $btnLight;
    color: $btnLight;
    box-shadow: none;
}

//

.btn {
    padding: 11px 20px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    // text-transform: uppercase;
}

// This is the code for when the button is clicked.
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
		background: $bgDefault;
		color: $colDefault ;
}

.btn-primary {
    background: $bgDefault;
    color: $colDefault ;
}

// This is the code when mouse hovers over the button
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: $colDefault;
		color: $bgDefault ;
}

.btn-primary:active, .btn-primary.active {
    background: $colDefault;
    color: $colDefault ;
		box-shadow: none;
}

.btn-primary[disabled] {
	background: $colDefault;
	color: $bgDefault ;
}

#noasker_request {
  background-image: url("pair-lg-2.jpg");
}

.footermargin {
  height: 250px;

}

.nav-thumbnails {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.blog-thumbnails {
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.avatar-thumbnails {
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.label-success {
	background-color: $colHighlight;
}
