
  // 第一页 //

.onepage {
  height: 750px;
}

.onepage-bg {
  height: 750px;
  width: 100%;
  position: absolute;
  background-position: center center;
  background-size: cover;
}
#onepage {
  background-image: url("http://file06.16sucai.com/2016/0608/e6579a57aff1e4a4dabce4670d9847fd.jpg");
}

.headh1content {
  margin-top: 150px;
  line-height: 75px;
}

.title-text {
  margin-left: 50px;
}

.headfontsize h1 {
  font-size: 50pt;
  color: #fff
}

.headfontsize p {
  margin-top: 50px;
  font-size: 15pt;
  color: #fff
}

.subForm {
    padding: 20px 10px;
    font-size: 20px;
    display: inline-block;
    position: relative;
}

.form {
    display: block;
    margin-top: 50em;
}

  // 第 2 页 //

.twopage-text {
  width: 100%;
  text-align: center;
}
.twopage-text-h1 {
  letter-spacing: 2px;
  margin-top: 80px;
  margin-bottom: 35px;
  padding: 20px 0 0 0;
}

div.img {
    margin: 55px;
    border: 1px solid #ccc;
    float: left;
    width: 340px;
    // transition : 0.5s;
}

div.img:hover {
    border: 1px solid #D6D6D6;
    // width: 342px;

}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

div.desc h3 {
  color: orange;
}

.twopagebtn {
  width: 100%;
  margin: 0% auto;
  text-align: center;
}

.twopagebtn .btn-lg {
  font-size: 25px;
}

#twopage-easy {
  margin: 50px 0;
  margin-bottom: 100px;
  padding: 25px 40px 20px 40px;
}

// 第 3 页 //

.threepage-bg {
  height: 550px;
  width: 100%;
  position: absolute;
  background-position: center center;
  background-size: cover;
  margin-top: 60px;
}
#threepage {
  background-color: #444444;
}

.threepagetext {
  margin-top: 50px;
  text-align: center;
  color: white;
}

.threepage-weixin {
  position: absolute;
  margin-top: 200px;
  margin-left: 100px;
}
