$bgDefault      : #3e3e3e;
$bgHighlight    : #f01d67;
$colDefault     : #d6d6d6;
$colHighlight   : #f01d67;

  // 第一页 //

.onepage {
  height: 450px;
}

.onepage-bg {
  height: 450px;
  width: 100%;
  position: absolute;
  background-position: center center;
  background-size: cover;
  vertical-align: baseline;
  display: inline-block;;
}
#onepage {
  display: inline-block;
  vertical-align: baseline;
  background-image: url("http://file06.16sucai.com/2016/0608/e6579a57aff1e4a4dabce4670d9847fd.jpg");
}


.headh1content {
  margin-top: 150px;
  line-height: 75px;
  font-family:inherit;
}

.title-text {
  margin-left: 50px;
}

.headfontsize h1 {
  font-size: 50pt;
  color: #fff
}

.headfontsize p {
  margin-top: 50px;
  font-size: 15pt;
  color: #fff
}

.bread {
    margin: 35px auto;
    margin-bottom: 20px;
    width: 1100px;
    position: relative;
}

.bread a {
   color: #9B9B9B;
   font-size: 18px;
}

.bread span {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    padding: 5px;
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000;
}

  // 第 2 页 //

div.img {
    margin: 15px;
    border: 1px solid #ccc;
    float: left;
    width: 250px;
    height: 350px;
    // transition : 0.5s;
}

div.img:hover {
    border: 1px solid #D6D6D6;
    width: 255px;
    background-color:#F0F0F0;
}

div.img img {
    width: 100%;
    height: auto;
    border: 0;
}

div.desc {
    padding: 0px;
    text-align: center;
}

div.desc h4 {
  color: #F01D67;
}

.view-more p {
  margin-top: 35px;
  margin-right: 3%;
}

// 第 3 页 //


.gotop a {
   position: relative;
   left: 100%;
   top: 175px;
   opacity: 0.9;
   z-index: 3;
}

.threepage {
  height: 100px;
}

.threepage-bg {
  height: 100px;
  width: 100%;
  position: absolute;
  background-position: center center;
  background-size: cover;
}

#threepage {
  position: relative;
  background-color: #fff;
border-top: 1px solid #9B9B9B;
}

.footer-mark {
    margin: 15px auto;
    margin-bottom: 20px;
    width: 1200px;
    position: relative;
}
.footer-text{
  margin-left: 63%;
}

.facebook {
  position: relative;
  left: 3%;
}

.footer-mark a {
   color: #9B9B9B;
   font-size: 8px;
}


.footer-mark span {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    padding: 5px;
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #9B9B9B;
}
