$bgDefault      : #3e3e3e;
$bgHighlight    : #f01d67;
$colDefault     : #d6d6d6;
$colHighlight   : #f01d67;
$btnLight	   	 	: #f181a8;
$dropDown       : true;

.postpage {
  height: 500px;
}

.postpage-bg {
  height: 500px;
  width: 100%;
  position: absolute;
  background-size: cover;
	margin-left: auto;
  margin-right: auto;
	z-index: -1;
}

#postspage {
  display: block;
  vertical-align: baseline;
  background-image: url("http://file06.16sucai.com/2016/0608/e6579a57aff1e4a4dabce4670d9847fd.jpg");
  background-position-x: center;
  background-position-y: 13%;
}

.postpage-top {
  margin-top: 30px;
  text-align: center;
}

.postpage-top h1 {
	color: white;
	font-size:32px;
	font-weight:bold;
	margin-top:190px;
}

.postpage-top p {
	color: white;
	font-size: 16px;
	font-style: italic;
}

.overlaypost {
    position: absolute;
    width: 100%;
    height: 500px;
    z-index: 2;
  	background:rgba(49,48,35,0.5);;
    opacity: .8;
	  margin-left: 0px;
		margin-top: 0px;
		z-index: -1;
}

.headh1content {
  margin-top: 150px;
  line-height: 75px;
  font-family:inherit;
}

.title-text {
  margin-left: 50px;
}

.headfontsize h1 {
  font-size: 50pt;
  color: #fff
}

.headfontsize p {
  margin-top: 50px;
  font-size: 15pt;
  color: #fff
}

.bread {
    margin: 35px auto;
    margin-bottom: 20px;
    width: 1100px;
    position: relative;
		font-size: 12pt;
    color: #9B9B9B;
}

.bread a {
   color: #9B9B9B;
}


  // 第 2 页 //

div.img {
    margin: 15px;
    border: 1px solid #ccc;
    float: left;
    width: 250px;
    height: 383px;
    // transition : 0.5s;
}

div.img:hover {
    border: 1px solid #D6D6D6;
    // width: 255px;
    background-color:#F0F0F0;
}

div.img img {
    width: 100%;
    height: auto;
    border: 0;
}

div.desc {
    padding: 0px;
    text-align: center;
}

div.desc h4 {
  color: #F01D67;
  margin-top: 25px;
}

div.desc h5 {
  color: #F01D67;
  font-size: 16px;
}

.view-more p {
  margin-top: 35px;
  margin-right: -2%;
}

// 第 3 页 //


.gotop a {
   position: relative;
   left: 85%;
   opacity: 0.9;
   z-index: 3;
   margin-top: -300px;
}

.threepage {
  height: 100px;
}

.threepage-bg {
  height: 100px;
  width: 100%;
  position: absolute;
  background-position: center center;
  background-size: cover;
}

#threepage {
  position: relative;
  margin-top: 50%;
  background-color: #fff;
  border-top: 1px solid #9B9B9B;
}

.footer-mark {
    margin: 15px auto;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}
.footer-text{
  margin-left: 66%;
}

.footer-mark a {
   color: #9B9B9B;
   font-size: 8px;
}


.footer-mark span {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    overflow: hidden;
    color: #9B9B9B;
}

.jumbotron {
		width:100%;
		height:400px;
		background-image: url("https://ooo.0o0.ooo/2016/11/27/583a7199b1cea.jpg");
		background-size:cover;
		background-position: center;
		position: relative;
		z-index: 1;
}

.jumbooverlay {
	position: absolute;
	width: 96.5%;
	height: 400px;
	z-index: 2;
	background:rgba(49,48,35,0.5);;
	opacity: .8;
	margin-left: 0px;
	margin-top: 0px;
	border-radius:6px;
}

#lonelypic {
  background-image: url("https://ooo.0o0.ooo/2016/11/27/583a7199b1cea.jpg");
}


.img-account {
    margin: 15px;
    border: 1px solid #ccc;
    float: left;
    width: 250px;
    height: auto;
 }

 div.img-account:hover {
     border: 1px solid #D6D6D6;
     background-color:#F0F0F0;
 }


 div.img-account img {
     width: 100%;
     height: auto;
     border: 0;
 }

 div.desc {
     padding: 0px;
     text-align: center;

 }

 div.desc p {
   position: relative;
   overflow: hidden;
   left: 45px;
   top: 18px;
   padding: 15px;
   width: 160px;
   color: #F01D67;
   font-size: 18px;
   border-top: 1px solid #ccc;
 }

 div.desc .titleh4 {
   position: relative;
   overflow: hidden;
   left: 45px;
   top: 8px;
   width: 160px;
   color: #F01D67;
 }

 div.desc .titleh3 {
   margin-top: 15px;
   margin-bottom: -12px;
   overflow: hidden;
 }

 h3.titleh3 {
	 font-size: 16px;
 }

 h4.titleh4 {
	 font-size: 14px;
 }

.posthr {
	width:180px;
	position:relative;
	margin-left: 12%;
	margin-top: 37px;
}

// .posthr:hover {
// 	border: 1px solid white;
// }

.postwindow {
	margin-bottom: 11px;
  padding: 0px 0px 5px 0px;
}

.post-action-btn {
	align-self:baseline;
}


.ask_user_well {
	margin-left:17px;
}


/*****************globals*************/
.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; }

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

/*# sourceMappingURL=style.css.map */
