.content1 {
  width:100%;
  margin-left: auto;
  margin-right: auto;
}


.time {
  background-color: orange;
  background-position:center;
  text-align: center;
  padding: 20px 20px 20px 20px;
  background-repeat: no-repeat;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
}

.zhuti {
  background-position:center;
  text-align: center;
  padding: 20px 20px 20px 20px;
  background-repeat: no-repeat;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  line-height: 15px;
  letter-spacing: 2px;
}

.show1 {
  height: 20%;
  width: 100%;
}

.show1-bg {
  height: 550px;
  width: 100%;
  position: absolute;
  background-position: center center;
  background-size: cover;
  margin-top: 60px;
}

#showbg {
  background-color: #F0F0F0;
}

.introduce h3 {
  text-align: center;
  margin-top: 40px;
  line-height: 60px;
  text-decoration: underline;
}

.introduce p {
  text-align: left;
  margin-top: 40px;
  line-height: 60px;
  font-size: 20px;
  margin-left: 200px;
}
