$bgDefault      : #3e3e3e;
$bgHighlight    : #f01d67;
$colDefault     : #d6d6d6;
$colHighlight   : #f01d67;


.slides .slide-1,
.slides .slide-2,
.slides .slide-3  {
	width: auto;
	height: 510px;
	min-width: 100%;
	max-width: none;
	min-height: 250px;
	max-height: 510px;
   background-repeat: no-repeat;
   position:relative;

}

.slides .slide-1 {
  background-image: url("carousel1-new.jpg");
  background-size: 100%;
  background-size: cover;
}
.slides .slide-2 {
  background-image: url("carousel2.jpg");
  background-size: 100%;
  background-size: cover;
	background-position: 63%;
}
.slides .slide-3{
  background-image: url("carousel3.jpg");
  background-size: 100%;
  background-size: cover;
	background-position: 20%;
}


.headh1 {
  margin-top: 10px;
	color: white;
	font-weight: bold;
}

.title-one {
  position: absolute;
  z-index: 3;
  margin-left: 50px;
  margin-top: 200px;
}


.title-carousel {
  position: absolute;
  z-index: 3;
	margin-left: 10%;
	margin-top: 8%;
	margin-right: 14%;
}

.overlaycarousel {
    position: absolute;
    width: 100%;
    height: 510px;
    z-index: 1;
  background:rgba(49,48,35,0.5);;
    opacity: .8;
  margin-left: 0px;
	margin-top: 0px;
}

.sellingpoints {
	z-index:3;
	text-align: -webkit-center;
}

.caption {
	max-width: 300px;
}

.title-carousel-item2 {
	position: relative;
	z-index: 3;
	margin-right: 3%;
	margin-top: -6%;
  margin-left: 16%;
}

.title-carousel-item3 {
	position: relative;
	z-index: 3;
	margin-right: 10%;
  margin-top: 12%;
  margin-left: 9%;
}

.carouselitem2 {
	text-align: right;
	margin-top: 85px;
	margin-right: 40px;
}

.carouselitem3 {
	text-align: right;
	margin-top: -100px;
}

.headfontsize h1 {
  font-size: 30pt;
  color: #fff
}

.headfontsize p {
  margin-top: 50px;
  // line-height: 33px;
  font-size: 15pt;
  color: #fff
}

// 阴影 overlay //
.overlay {
    position: absolute;
    width: 100%;
    height: 510px;
    z-index: 2;
  background:rgba(49,48,35,0.5);;
    opacity: .8;
  margin-left: 0px;
	margin-top: 0px;
}

  // 第二页 //

.two {
   height: 400px;
}
.two-bg {
  height: 300px;
  width: 100%;
  position: absolute;
  background-position: center center;
  background-size: cover;
  margin-top: 60px;
}
#picturetwo {
  background-color:white;
}

.fork {
  margin-top: 10px;
}


.title-two{
  margin-top: 30px;
  text-align: center;
}

.title-two p {
  margin-top: 22px;
  font-size: 14px;
}

h2.lp-2 {
	font-size: 24px;
	font-weight:bold;
	margin-left:34px;
}

  // 第三页 //

.three {
   height: 540px;
}

.three.shrink {
	height:auto;
}

#picturethree {
  display:block;
  background:rgba(236,236,236,0.87);
  background-image:url(//ooo.0o0.ooo/2016/11/29/583d6604d4bbe.jpg);
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-position:left top;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  -ms-behavior:url(//d9hhrg4mnvzow.cloudfront.net/backgroundsize.min.htc);
  behavior:url(//d9hhrg4mnvzow.cloudfront.net/backgroundsize.min.htc);
  border-style:solid none solid none;
  border-width:1px;
  border-color:#000;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:0px;
  border-radius:0px;
  width:100%;
  height:auto;
  position:relative;
}



.title-three {
  margin-top: 34px;
  position:relative;
  text-align: center;
  z-index: 3;
}


.sanzhangtu {
  z-index: 3;
  position: relative;
}

.wenzi {
  z-index: 3;
  position: relative;
  margin-top: 0px;
}

.overlay1 {
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 540px;
  z-index: 2;
  background:#E4E0D8;
  opacity: 0.8;
  margin-left: 0px
 }

 h3.lp-3 {
	 font-size: 17px;
	 font-weight: bold;
	 margin-left: 30px;
 }

 p.lp-3 {
	 font-size: 14px;
	 margin-left: 30px;
 }

 // 第四页 //

.four {
  height: 1100px;
}

.four-bg {
 height: auto;
 width: 100%;
 position: relative;
 background-position: center center;
 background-size: cover;

}

.hero2 {
 position: relative;
 text-align: center;
 margin-left:auto;
 margin-top:auto;
 margin-top: 80px;
 margin-bottom: 50px;
}


.hero3 {
  margin-top: 25px;
  // text-align: left;
  margin-bottom: 30px;
	margin-left: px;
}

p.lp-4-1 {
	font-size: 18px;
	color: #ac8c66;
	font-weight:bold;
	text-align: left;
}

span.lp-4-2 {
	font-size: 14px;
	color: black;
	float:right;
}

 // 第五页 //

.five {
  height: auto;
}

.five-bg {
 height: 340px;
 width: 100%;
 position: absolute;
 background-position: center center;
 background-size: cover;
}

.five h1 {
  margin-top: 70px;
  margin-bottom: 50px;
}
.person p {
  font-size: 20px;
  margin-right: 10px;
}

p.lp-5 {
	font-style: italic;
	color: #ac8c66;
}

 // 第六页 //

.six {
  height: 350px;
	text-align: center;
  }

.six-bg {
  height: 350px;
  width: 100%;
  background-size: cover;
  position: absolute;
  background-position: center center;
  background-size: cover;

}

#picturesix {
  background-image: url("http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/centenni-lightbox-51/adfcd524-group-lg-5.jpg");
  width: 100%;
	// background-attachment:local;
	background-position: 0% 20%;
}

.lp-footer {
	margin-top:70px;
	z-index: 3;
	position: absolute;
	text-align: center;
}

.overlay2 {
    position: absolute;
    width: 100%;
    height: 350px;
    z-index: 2;
  	background:rgba(49,48,35,0.5);;
    opacity: .8;
  	margin-left: 0px;
		margin-top: 0px;
}

/* Carousel Header Styles */
.header-text {
    position: absolute;
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

.header-text h2 {
    font-size: 40px;
}

.header-text h2 span {
    background-color: #2980b9;
	padding: 10px;
}

.header-text h3 span {
	background-color: #000;
	padding: 15px;
}


.lp-sample-invites {
	max-width: 817px;
	display:block;
	height: auto;
}

.lp-image {
	// max-width:766;
	// max-height:228;
	// width:100%
	max-width: 100%;
	display:block;
	height: auto;
}

.lp-row {
	max-width:766;
}
