div.person-table {
  margin: 10px 10px 10px 10px;
}
table.person-table {
    margin-top: 10px;
}


.widget-content {
margin-top: 10px;
padding: 25px 15px 15px ;
background: #FFF;
border: 1px solid #D5D5D5;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

.img-thumbnails {
  margin-bottom: 25px;
}

div.layad {
  margin-top: 50px;
}
