<table class="table table-bordered">

  <thead>
    <tr>
       <th class="col-md-6">  用户名  </th>
       <th class="col-md-6">  权限  </th>
   </tr>
  </thead>




  <tbody>

    <tr>
    <% @users.each do |user| %>
      <td>  <%= user.email %> </td>
      <td>  <%= user.is_admin %>
    <% if user.is_admin %>

      <% link_to("Admin", "#", :class => "btn-btn-xs btn-default") %>
    <% else %>
      <% link_to("User", "#", :class => "btn btn-btn-xs btn-default") %>
    <% end %>
        

      </td>



    </tr>

     <% end %>
  </tbody>
</table>
