  <footer>
		<div class="container">
    <div class="col-md-12">
      <!-- <div class="threepage-bg" id="threepage"> -->
         <hr>
				 <div class="footer-mark">
           <!-- <span class="logo2"></span> -->
            <span> <%= image_tag("https://ooo.0o0.ooo/2016/11/27/583a75286fc22.png", style:"width:30px; margin-bottom:15px;")%>© Eatgether, Inc. </span>
             <span class="footer-text"> 社交媒体
               <span class="facebook" style="margin-bottom:8px">
                  <a href="https://www.facebook.com/bootsnipp"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
                  <a href="https://twitter.com/bootsnipp"><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>
                  <a href="https://plus.google.com/+Bootsnipp-page"><i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i></a>
                  <a href="mailto:bootsnipp@gmail.com"><i class="fa fa-envelope-square fa-3x social-em" id="social"></i></a>
              </span>
							 </span>
          </div>
        </div>
      <!-- </div> -->
    </div>
</footer>
