

  <footer class="container" >
    <div class="row">
      <div class="threepage-bg" id="threepage">
         <div class="footer-mark">
           <span class="logo2"> <img src="https://ooo.0o0.ooo/2016/11/23/5835761fb4638.png" width="40px;"></span>
            <span > © Eatgether, Inc. </span>
             <span class="footer-text"> 网站地图 </span>
               <span class="facebook">
                  <a href="https://www.facebook.com/bootsnipp"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
                  <a href="https://twitter.com/bootsnipp"><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>
                  <a href="https://plus.google.com/+Bootsnipp-page"><i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i></a>
                  <a href="mailto:bootsnipp@gmail.com"><i class="fa fa-envelope-square fa-3x social-em" id="social"></i></a>
              </span>
          </div>
        </div>
      </div>
    </div>
</footer>
