  <footer>
		<div class="container">

      <!-- <div class="threepage-bg" id="threepage"> -->
         <hr>
				 <div class="footer-mark">
           <!-- <span class="logo2"></span> -->
					 <div class="col-md-3 pull-left col-xs-12 center">
            <span> <%= image_tag("https://ooo.0o0.ooo/2016/11/27/583a75286fc22.png",
                       style:"width:30px; margin-bottom:15px;")%>© Eat2gether, Inc.
            </span>
					</div>
					<div class="col-md-3 pull-right col-xs-12 center">
             <span> 社交媒体
               <span class="facebook" style="margin-bottom:8px">
                  <a href=""><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
                  <a href=""><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>
                  <a href=""><i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i></a>
                  <a href=""><i class="fa fa-wechat fa-3x social-em" id="social"></i></a>
              </span>
							</span>
					</div>
        </div>

      <!-- </div> -->
    </div>
</footer>
<script type="text/javascript">
    setTimeout("new Effect.Fade('flash_message');", 4000)
</script>
